<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mini Vue Example By © 2019 OCT16</title>
</head>

<body>
    <div id="app"></div>

    <% if (htmlWebpackPlugin.options.env.NODE_ENV === 'production') { %>
        <script defer="defer" src="https://www.googletagmanager.com/gtag/js?id=UA-151180797-1"></script>
        <script>
            // <!-- Global site tag (gtag.js) - Google Analytics -->
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-151180797-1');
        </script>
    <% } %>
</body>

</html>